@import "breakpoints";
@import "colors";
@import "fonts";

.card {
    border-radius: 0.8rem;
    display: flex;
    flex-direction: row;
    opacity: 0.5;
    overflow: hidden;
    width: 86rem;

    @media screen and (max-width: $mobile) {
        flex-direction: column;
        width: 30.7rem;
    }

    &__col {
        box-sizing: border-box;
        padding: 4.4rem 4.5rem 4.5rem 4.4rem;
        width: 33.3%;

        @media screen and (max-width: $mobile) {
            height: 41.4rem;
            width: 100%;
        }
    }

    &__col--sedans {
        background-color: $bright-orange;
    }

    &__col--suvs {
        background-color: $dark-cyan;
    }

    &__col--luxury {
        background-color: $very-dark-cyan;
    }

    &__img {
        display: block;
        margin: 0 0 3.2rem;

        @media screen and (max-width: $mobile) {
            margin: 0 0 3.1rem;
        }
    }

    &__header {
        color: $transparent-white;

        font: {
            family: $font-stack-cursive;
            size: 4rem;
            weight: $bold;
        }

        letter-spacing: -0.1rem;
        margin: 0 0 2.4rem;   
    }

    &__copy {
        color: $transparent-white;
        
        font: {
            family: $font-stack-sans;
            size: 1.4rem;
            weight: $regular;
        }

        line-height: 1.65;
        margin: 0 0 7.8rem;

        @media screen and (max-width: $mobile) {
            margin: 0 0 2.5rem;
        }
    }

    &__btn {
        border: 0.2rem solid $transparent-white;
        border-radius: 3rem;
        
        font: {
            family: $font-stack-sans;
            size: 1.4rem;
            weight: $regular;
        }

        padding: 1.2rem 2.8rem;
    }

    &__btn--sedans {
        color: $bright-orange;
    }

    &__btn--suvs {
        color: $dark-cyan;
    }

    &__btn--luxury {
        color: $very-dark-cyan;
    }

    &__btn--sedans:hover {
        background-color: $bright-orange;
        color: $transparent-white;
        cursor: pointer;
    }

    &__btn--suvs:hover {
        background-color: $dark-cyan;
        color: $transparent-white;
        cursor: pointer;
    }

    &__btn--luxury:hover {
        background-color: $very-dark-cyan;
        color: $transparent-white;
        cursor: pointer;
    }
}