@import "breakpoints";
@import "colors";

.card-wrapper {
  align-items: center;
  background-color: $very-light-gray;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
}